.builds
  - builds.forEach(function(build) {
    - var buildClass = build.isBroken ? 'red' : 'green';
    div(class="build #{buildClass} #{build.buildTypeId}", data-seconds-left="#{build.timeLeft}")
      h1= build.name
      - if (build.startDate)
        span.startDate #{build.startDate.getMonth()}/#{build.startDate.getDate()}/#{build.startDate.getFullYear()} #{build.startDate.getHours()}:#{(build.startDate.getMinutes() < 10 ? '0' : '') + build.startDate.getMinutes()}
      - if (build.isBroken) 
        span.commiter Possible offender(s):
        img.commiter_image src="/images/#{build.changes[0].userName}.png"
      span.number ##{build.number}
      - if(build.isBroken)
        - if(build.changes.length == 0)
          h2 No changes in this build
        - else 
          ul
            - build.changes.forEach(function(item) {
              li 
                img(src="/images/#{item.avatar}")
            - })
      - if (build.isRunning)
        .percentage(style="width: #{build.percentageComplete}%;", data-seconds-left="#{build.timeLeft}")
        - var minutesLeft = build.timeLeft / 60;
        - if (minutesLeft >= 0) 
          .timeleft #{Math.abs(Math.ceil(minutesLeft))} minutes left
        else
          .timeleft #{Math.abs(Math.ceil(minutesLeft))} minutes overtime
      - if (build.isBroken)
        h3.statustext= build.statusText
  - })